
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUS</title>
</head>
<body>
    <h1>Contact Us View </h1>
    
</body>
</html>
